.noshadow {
  box-shadow: none !important;
}

.nooutline {
  outline: none !important;
}

table.floathead thead th {
  position: sticky;
  top: 0;
  background: #000;
  z-index: 100;
}

table.table-card {
  font-size: 13px;
  border-collapse: separate;
  border-spacing: 0 15px;
}
table.table-card > tbody > tr > th,
table.table-card > tbody > tr > td,
table.table-card > thead > tr > th,
table.table-card > thead > tr > td {
  background: white;
  border-top: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
  padding: 10px 5px;
}
table.table-card > tbody > tr > th:first-child,
table.table-card > tbody > tr > td:first-child,
table.table-card > thead > tr > th:first-child,
table.table-card > thead > tr > td:first-child {
  border-left: 1px solid #dee2e6;
  border-radius: 10px 0 0 10px;
  padding: 10px 5px 10px 25px;
}
table.table-card > tbody > tr > th:last-child,
table.table-card > tbody > tr > td:last-child,
table.table-card > thead > tr > th:last-child,
table.table-card > thead > tr > td:last-child {
  border-right: 1px solid #dee2e6;
  border-radius: 0 10px 10px 0;
  padding: 10px 25px 10px 5px;
}
table.table-card > tbody > tr > th button,
table.table-card > tbody > tr > td button,
table.table-card > thead > tr > th button,
table.table-card > thead > tr > td button {
  font-size: 13px;
}
table.table-card > tbody > tr > th table > thead > tr > th:first-child,
table.table-card > tbody > tr > th table > thead > tr > td:first-child,
table.table-card > tbody > tr > th table > tbody > tr > th:first-child,
table.table-card > tbody > tr > th table > tbody > tr > td:first-child,
table.table-card > tbody > tr > td table > thead > tr > th:first-child,
table.table-card > tbody > tr > td table > thead > tr > td:first-child,
table.table-card > tbody > tr > td table > tbody > tr > th:first-child,
table.table-card > tbody > tr > td table > tbody > tr > td:first-child,
table.table-card > thead > tr > th table > thead > tr > th:first-child,
table.table-card > thead > tr > th table > thead > tr > td:first-child,
table.table-card > thead > tr > th table > tbody > tr > th:first-child,
table.table-card > thead > tr > th table > tbody > tr > td:first-child,
table.table-card > thead > tr > td table > thead > tr > th:first-child,
table.table-card > thead > tr > td table > thead > tr > td:first-child,
table.table-card > thead > tr > td table > tbody > tr > th:first-child,
table.table-card > thead > tr > td table > tbody > tr > td:first-child {
  padding: 10px 5px 10px 25px;
}
table.table-card > tbody > tr > th table > thead > tr > th:last-child,
table.table-card > tbody > tr > th table > thead > tr > td:last-child,
table.table-card > tbody > tr > th table > tbody > tr > th:last-child,
table.table-card > tbody > tr > th table > tbody > tr > td:last-child,
table.table-card > tbody > tr > td table > thead > tr > th:last-child,
table.table-card > tbody > tr > td table > thead > tr > td:last-child,
table.table-card > tbody > tr > td table > tbody > tr > th:last-child,
table.table-card > tbody > tr > td table > tbody > tr > td:last-child,
table.table-card > thead > tr > th table > thead > tr > th:last-child,
table.table-card > thead > tr > th table > thead > tr > td:last-child,
table.table-card > thead > tr > th table > tbody > tr > th:last-child,
table.table-card > thead > tr > th table > tbody > tr > td:last-child,
table.table-card > thead > tr > td table > thead > tr > th:last-child,
table.table-card > thead > tr > td table > thead > tr > td:last-child,
table.table-card > thead > tr > td table > tbody > tr > th:last-child,
table.table-card > thead > tr > td table > tbody > tr > td:last-child {
  padding: 10px 25px 10px 5px;
}
table.table-card > tbody > tr.details > th, table.table-card > tbody > tr.details > td,
table.table-card > thead > tr.details > th,
table.table-card > thead > tr.details > td {
  padding: 0;
  border: none;
}

.card--table {
  border-radius: 0;
  border: none;
}
.card--table .list-group {
  border-left: 1px solid #dee2e6 !important;
  border-top: 1px solid #dee2e6 !important;
  border-radius: 0 !important;
}
.card--table .list-group > .list-group-item {
  padding: 0;
  border: none;
}
.card--table .list-group > .list-group-item > .row > * {
  padding: 0.5rem 0.5rem;
  border-right: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
}
.card--table .list-group > .list-group-item > .row > *.th {
  background: #f8f9fa;
  font-weight: 700;
  color: #495057;
}
.card--table .list-group > .list-group-item > .row > * textarea,
.card--table .list-group > .list-group-item > .row > * input[type=text],
.card--table .list-group > .list-group-item > .row > * input[type=number],
.card--table .list-group > .list-group-item > .row > * input[type=email],
.card--table .list-group > .list-group-item > .row > * input[type=date],
.card--table .list-group > .list-group-item > .row > * input[type=datetime-local],
.card--table .list-group > .list-group-item > .row > * input[type=password],
.card--table .list-group > .list-group-item > .row > * input[type=file],
.card--table .list-group > .list-group-item > .row > * select {
  border-radius: 0;
  box-shadow: none;
  padding: 0;
  border: none;
  background: transparent;
}